@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" />
</head>
<body>
    <div class="home__container">
        <div class="home__left">
            <p class="home__text">
                Seja bem ao <b>Krupp</b> o <br />
                seu sistema de gestão <br />
                académica.
            </p>
            <button>Ver Notas</button>
        </div>
        <div class="home__right">
            <img class="home__img" alt="" src="/public/iconCarrier.svg"/>
        </div>
    </div>
</body>
</html>
